<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="main" routerLinkActive="active"><div class="logo">3_ÉS</div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <div class="line_1"></div>
    <div class="line_1"></div>
    <div class="line_1"></div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav nav-list">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLink="about">About</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="projects/mag">MAG</a>
          <a class="dropdown-item" routerLink="projects/bsc">BSC</a>
          <a class="dropdown-item" routerLink="projects/museum">Museum</a>
          <a class="dropdown-item" routerLink="projects/bkeszi">Bkeszi</a>
          <a class="dropdown-item" routerLink="projects/pp">PP</a>
          <a class="dropdown-item" routerLink="projects/vtn">VTN</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLink="team">Team</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLink="press">Press</a>
      </li>
    </ul>
  </div>
</nav>