<div class="footer-container page-footer font-small stylish-color-dark pt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">3_ÉS</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet eius eligendi aperiam. </p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-envelope mr-3"></i> haromesinfo@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +36 20 947 0609</p>

        <a id="in" href="https://www.linkedin.com/company-beta/18061292/">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row py-3 d-flex align-items-center">
      <div class="col-md-8 col-lg-8  text-center">
        <p class="text-md-left grey-text">© 2018 Copyright:
          <strong class="logo"> 3_ÉS</strong>
        </p>
      </div>
    </div>
  </div>
  <!--TOP BUTTON-->

</div>
<button (click)="topFunction()" id="myBtn" title="Go to top">
  <i class="fas fa-angle-up"></i>
</button>
