button:focus {
  outline: none !important;
}

.logo {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 0);
  padding: 5px 10px;
  color: #ffff00;
  background-color: #343a40;
}

.navbar {
  min-height: 104px;
}

.nav-link {
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: yellow !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 0, .5) !important;
  padding-left: 3%;
  padding-right: 3%;
}

button.navbar-toggler {
  border: none;
}

.line_1 {
  width: 33px;
  height: 3px;
  background-color: #ffff00;
  margin: 7px;
  border-radius: 2px;
}

@media (min-width: 992px) {
  .nav-item {
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex !important;
    align-items: center !important;
  }

  .nav-item:not(.active) {
    border-bottom: 2px solid yellow;
  }

  .nav-item.active:before {
    position: relative;
    top: 20px;
    left: -10%;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: yellow;
  }

  .nav-item.active:after {
    position: relative;
    top: 20px;
    left: 8%;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: yellow;
  }
}

@media (max-width: 991px) {

  /*.nav-list {
        position: relative;
    }*/
  .nav-item:not(.active) {
    border-left: 2px solid yellow;
  }

  .nav-item.active:before {
    position: relative;
    top: -13px;
    left: -6px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: yellow;
  }

  .nav-item.active:after {
    position: relative;
    top: 13px;
    left: -6px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: yellow;
  }
}

.footer-container {
  background-color: #343a40;
  color: rgba(255, 255, 0, .5);
}

/*UP Button*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #dddddd60;
  color: rgba(255, 255, 0, .5);
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #dddddddd;
  color: rgba(255, 255, 0, .5);
}

a#in {
  color: rgba(255, 255, 0, .5);
}

.team_title {
  color: rgba(255, 255, 0, .5);
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-size: 16pt;
}

.name_field {
  color: rgba(255, 255, 0, .5);
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-variant: small-caps;
  font-size: 12pt;
}

.image_border {
  height: 10vh;
  width: 10vh;
  border: 4px solid yellow;
  border-radius: 50%;
}

.background {
  padding-top: 8pt;
  background-color: #5c6166;
}

.image_border {
  opacity: .5;
}

.person_div:hover .image_border {
  opacity: 1;
}

.person_div:hover .name_field {
  color: rgba(255, 255, 0, 1);
}

.person_div:hover {
  cursor: pointer;
}

.team_filed {
  position: relative;
  height: calc(100vh - 104px);
}

.person_div {
  position: absolute;
}

.person_div.active {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.person_div.active .image_border {
  height: 25vh;
  width: 25vh;
}

.desc {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  color: yellow;
  font-size: 11pt;
}

.hidden {
  display: none;
}

.B_K {
  left: 9%;
  top: 9%;
}

.O_P_C {
  left: 71%;
  top: 18%;
}

.V_D_P {
  left: 40%;
  top: 21%;
}

.L_B_G {
  left: 53%;
  top: 50%;
}

.L_L_L {
  left: 16%;
  top: 42%;
}

.G_L_Z {
  left: 75%;
  top: 64%;
}

.T_A {
  left: 34%;
  top: 71%;
}
