button:focus {
    outline: none !important;
}

.logo {
    border-style: solid;
    border-width: 2px;
    border-color:rgb(255, 255, 0);
    padding: 5px 10px;
    color: #ffff00;
    background-color: #343a40;
}
.navbar {
    min-height: 104px;
}
.nav-link {
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: yellow !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,0,.5) !important;
    padding-left:3%;
    padding-right:3%;
}
button.navbar-toggler {
    border: none;
}
.line_1 {
    width: 33px;
    height: 3px;
    background-color: #ffff00;
    margin: 7px;
    border-radius: 2px;
}
@media (min-width: 992px) {
    .nav-item {
        padding-top: 1px;
        padding-bottom: 1px;
        display: flex!important;
        align-items: center!important;
    }
    .nav-item:not(.active) {
        border-bottom: 2px solid yellow;
    }
    .nav-item.active:before {
        position: relative;
        top: 20px;
        left: -10%;
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: yellow;
    }
    .nav-item.active:after {
        position: relative;
        top: 20px;
        left: 8%;
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: yellow;
    }
}
@media (max-width: 991px) {
    /*.nav-list {
        position: relative;
    }*/
    .nav-item:not(.active) {
        border-left: 2px solid yellow;
    }
    .nav-item.active:before {
        position: relative;
        top: -13px;
        left: -6px;
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: yellow;
    }
    .nav-item.active:after {
        position: relative;
        top: 13px;
        left: -6px;
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: yellow;
    }
}